JWT_KEY="(*^*(&(*)^(&*^*&^@()&@!LNASLBKJASBN!123123123@#@@#)))"
PORT=4000
ORIGIN="http://localhost:5173"
DATABASE_URL=mongodb+srv://shrey:shrey@cluster0.li59ezv.mongodb.net/Cluster0?retryWrites=true&w=majority&appName=Cluster0